 <!-- History section --> 
 <section class="section-history" id="history">
    <div class="container">          
        <div class="text-center section-diff-title">     
            <h2>My All Educations</h2>
            <!-- <p>This my Education and Experience</p> -->
        </div> 
        <!-- Timeline --> 
        <ul class="timeline">
            <!-- Timeline badge --> 
            <li class="timeline-start">
                <div class="rectangle"><span>2021</span></div>
            </li><!-- /.timeline-start -->

            <!-- Timeline job & description  --> 
            <li>
                <div class="rectangle timeline-rectangle"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <div class="timeline-date">
                            <p>BE</p>
                        </div><!-- /.timeline-date -->
                        <div class="timeline-position">
                            <p> Bachelor of Engineering</p>
                        </div><!-- /.timeline-position -->
                    </div><!-- /.timeline-heading -->
                    <div class="timeline-body">
                        <div class="timeline-body-thumb">
                            <img src="assets/img/timeline-img.jpg" class="img-res" alt="">
                        </div><!-- /.timeline-body-thumb -->
                        <p><b> FIELD OF STUDIES :-</b> Mechanical Engineering </p>
                        <p><b>  MARKS OBTAINED  :-</b> 8.62 (CGPA) </p>
                        <p><b>  YEAR OF PASSING :-</b> 2021 </p>
                    </div><!-- /.timeline-body -->
                </div><!-- /.timeline-panel -->
            </li>

            <!-- Timeline badge --> 
            <li class="timeline-start">
                <div class="rectangle"><span>2017</span></div>
            </li><!-- /.timeline-start -->

            <!-- Timeline job & description, inverted  --> 
            <li class="timeline-inverted">
                <div class="rectangle timeline-rectangle"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                       <div class="timeline-position">
                            <p>Higher Secondary School Certificate</p>
                            
                        </div><!-- /.timeline-position -->
                        <div class="timeline-date">
                            <p>HSC</p>
                        </div><!-- /.timeline-date -->
                    </div><!-- /.timeline-heading -->
                    <div class="timeline-body">
                        <div class="timeline-body-thumb">
                            <img src="assets/img/timeline-img.jpg" class="img-res" alt="">
                        </div><!-- /.timeline-body-thumb -->
                        <p><b> FIELD OF STUDIES :-</b> Science </p>
                        <p><b>  MARKS OBTAINED  :-</b> 52.77% </p>
                        <p><b>  YEAR OF PASSING :-</b> 2017 </p>
                    </div><!-- /.timeline-body -->
                </div><!-- /.timeline-panel -->
            </li><!-- /.timeline-inverted -->

 <!-- Timeline badge --> 
 <li class="timeline-start">
    <div class="rectangle"><span>2015</span></div>
</li><!-- /.timeline-start -->


            <!-- Timeline job & description  --> 
            <li>
                <div class="rectangle timeline-rectangle"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <div class="timeline-date">
                            <p>SSC</p>
                        </div><!-- /.timeline-date -->
                        <div class="timeline-position">
                            <p>	secondary school certificate</p>
                            
                        </div><!-- /.timeline-position -->
                    </div><!-- /.timeline-heading -->
                    <div class="timeline-body">
                        <div class="timeline-body-thumb">
                            <img src="assets/img/timeline-img.jpg" class="img-res" alt="">
                        </div><!-- /.timeline-body-thumb -->
                        <p><b> FIELD OF STUDIES :-</b> Science </p>
                        <p><b>  MARKS OBTAINED  :-</b> 62.20% </p>
                        <p><b>  YEAR OF PASSING :-</b> 2015 </p>
                    </div><!-- /.timeline-body -->
                </div><!-- /.timeline-panel -->
            </li>

            <!-- Timeline Badge  --> 
            <!-- <li class="timeline-end">
                <div class="rectangle"><span>More</span></div>
            </li> -->
            <!-- /.timeline-end -->
        </ul><!-- /.timeline -->
    </div>
</section><!-- /.section-history -->
<!-- End History section --> 
