
    <!-- About section -->
    <section class="site-section section-about text-center" id="about">
        <div class="container">
            <h2>ABOUT My  hobbies</h2>
            <p class="section-subtitle"><span>hobbies occupy our minds in leisure time and keep us refreshed</span></p>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                            <!-- <i class="fa fa-laptop" aria-hidden="true"></i> -->
                        </div><!-- /.rectangle -->
                        <h3>Playing Video Games</h3>
                        <p>My one of the favorite hobby is playing video games. Ever since I was a little boy I have always loved playing video games with my older brother. Even up until today I still play video games by myself and my brother. Playing video games helps me to release my stress.</p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <!-- <i class="fa fa-code" aria-hidden="true"></i> -->
                        </div><!-- /.rectangle -->
                        <h3>Watching TV</h3>
                        <p>Watching TV plays an important role in our daily lives. In fact it is one of my favorite hobbieshe . It brings us a lot of benefits. Watching TV can increase our knowledge of the world, give us information to improve our lives and provide a lot of fun.</p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                        </div><!-- /.rectangle -->
                        <h3>READING BOOKS</h3>
                        <p>I love reading whatever I can get my hands on. Reading is a good hobby because it helps me to learn a lot of things. I read a lot of books; fiction, non-fiction, biography, self-help, instructional, etc. I believe everyone should have a reading hobby.</p>
                    </div><!-- /.feature-about -->
                </div>                    
                <div class="col-sm-3 col-xs-6">
                    <div class="feature-about">
                        <div class="medium-rectangle rectangle">
                            <i class="fa fa-music" aria-hidden="true"></i>
                            <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
                        </div><!-- /.rectangle -->
                        <h3>Listening music</h3>
                        <p>Music is the art or science of combining vocal or instrumental sounds to produce beauty of form, harmony, and expression of emotion I can name almost name every song that comes on the radio. Listening to music takes the stress away from my mind. </p>
                    </div><!-- /.feature-about -->
                </div>
            </div>
        </div>
    </section><!-- /.section-about -->
    <!-- End About section -->