
    <!-- Contacts section --> 
    <section class="site-section section-contact" id="contact">
        <div class="container">
            <h2>CONTACT </h2>
            <p class="section-subtitle"><span>Here i am</span></p>
            <div class="row">
                <form>
                    <div class="">
                       <p  class="form-control"> <b>Name: </b> AIFAJ JABBAR PATHAN</p>
                    </div>

                    <div class="">
                        <p  class="form-control"><b>Tah:</b> HINGNA</p>
                     </div>

                     <div class="">
                        <p  class="form-control"><b>DIST:</b> NAGPUR</p>
                     </div>

                     <div class="">
                        <p  class="form-control">MAHARASHTRA , INDIA</p>
                     </div>


                     <div class="">
                        <p  class="form-control"><b> PIN CODE: </b> 441122</p>
                     </div>

                     <div class="">
                        <p  class="form-control"><b> MOBILE NO.: </b> 7020385594 , 7401326786</p>
                     </div>

                     <div class="">
                        <p  class="form-control"><b> EMAIL: </b> <a href="aifazpathan1332000@gmail.com " target="_blank"> aifazpathan1332000@gmail.com</a>
                        </p>
                     </div>

                     <div class="">
                        <p  class="form-control"><b> LINKEDIN: </b> <a href="https://www.linkedin.com/in/aifaj-pathan-76a251233" target="_blank"> https://www.linkedin.com/in/aifaj-pathan-76a251233</a>
                        </p>
                     </div>

                     <div class="">
                        <p  class="form-control"><b> GITHUB: </b> <a href="https://github.com/Aifaj2000" target="_blank"> https://github.com/Aifaj2000</a>
                        </p>
                     </div>

                     <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d21369.486953823638!2d78.9915007676839!3d21.053952647856985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDAyJzQzLjQiTiA3OMKwNTknMTEuMiJF!5e0!3m2!1sen!2sin!4v1680849764573!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </form>
            </div>
        </div>
    </section><!-- /.section-contact-->
    <!-- End Contacts section --> 

