
 <!-- Services section -->
 <section class="site-section section-services" id="services">

    <div class="container-fluid">
        <h2>The Work i have completed</h2>
        <p class="section-subtitle"><span>This Work i have completed in <a href="https://www.netbugs.co.in/" target="_blank">Netbugs Solution & Services LLP </a></span></p>
    </div>

    <div class="container">

        <div class="carousel slide" id="services-carousel">

            <div class="item-controls text-center">
                <a href="#services-carousel" class="left btn carousel-control" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                <a href="#services-carousel" class="right btn carousel-control" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div><!-- /.item-controls -->

            <div class="carousel-indicators nav-tabs text-center">
                <a data-target="#services-carousel" href="#" data-slide-to="0" class="active">
                    <div class="col-xs-4 col-sm-fifth">
                        <div class="service">
                            <div class="rectangle">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div>
                            <p class="hidden-xs">Web design</p>
                        </div>
                    </div>
                </a><!-- /.item -->
                <a data-target="#services-carousel" href="#" data-slide-to="1">
                    <div class="col-xs-4 col-sm-fifth">
                        <div class="service">
                            <div class="rectangle">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </div>
                            <p class="hidden-xs">Web development</p>
                        </div>
                    </div>
                </a><!-- /.item -->

                <a data-target="#services-carousel" href="#" data-slide-to="2">
                    <div class="col-xs-4 col-sm-fifth">
                        <div class="service">
                            <div class="rectangle">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </div>
                            <p class="hidden-xs"> My websites</p>
                        </div>
                    </div>
                </a><!-- /.item -->

                <a data-target="#services-carousel" href="#" data-slide-to="3">
                    <div class="col-xs-4 col-sm-fifth">
                        <div class="service">
                            <div class="rectangle">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <p class="hidden-xs">Mobile Development</p>
                        </div>
                    </div>
                </a><!-- /.item -->
                <a data-target="#services-carousel" href="#" data-slide-to="4">
                    <div class="col-xs-4 col-sm-fifth">
                        <div class="service">
                            <div class="rectangle">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <p class="hidden-xs">MY Mobile Applications</p>
                        </div>
                    </div>
                </a><!-- /.item -->
              
            </div><!-- /.carousel-indicators -->
                
                   
            <div class="carousel-inner">
                <!-- Item 1 -->   
                <div id="item1" class="item tab-pane active">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="service-info">
                                <h3 class="service-title">Web Design</h3>
                                <p>Selecting easy-to-read fonts
                                    Choosing attractive color schemes that also enable easy-to-read fonts
                                    Implementing a brand's identity into the colors, fonts and layout
                                    Creating a map of the website's structure to ensure intuitive navigation
                                    Placing images, logos, text, videos, applications and other elements
                                    Using coding languages, such as HTML and CSS, to create layouts and to style pages
                                    Making optimized versions of websites and pages both for desktop and mobile viewing</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <img src="assets/img/web-design.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div><!-- /.item -->
                <!-- Item 2 -->   
                <div id="item2" class="item tab-pane">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="service-info">
                                <h3 class="service-title">Web Development</h3>
                                <p>Writing well designed, testable, efficient code by using Angular Framework ,
                                    Createing website layout/user interface by using standard HTML/CSS ,
                                    Integrating data from various back-end services and databases ,
                                    Creating and Maintaining software documentation,
                                   Taking Responsiblity for maintaining, expanding, and scaling our site
                                   
                                    Cooperating with web designers to match visual design intent </p>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <img src="assets/img/web-development.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div><!-- /.item -->



 <!-- Item 5 -->   
 <div id="item5" class="item tab-pane" >
                    
    <div class="row">
        
        <div class="col-md-5">
            <div class="service-info">
                <h3 style="color: red;" class="service-title">My Web Applications</h3>
                <h4 style="margin-top: 20px; margin-bottom: 20px;"> 1) Netaji Subhashchandra Science College, Mulchera You Can Search on Google  <a href="http://nscm.ac.in/#/" target="_blank">http://nscm.ac.in/#/</a></h4>
                <h4 style="margin-top: 20px; margin-bottom: 20px;"> 2) Raje Dharamrao College of Science, Aheri You Can Search on Google  <a href="https://rdsca.ac.in/#/home" target="_blank">https://rdsca.ac.in/#/home</a></h4>
                <h4 style="margin-top: 20px; margin-bottom: 20px;"> 3) Raje Dharmarao Arts and Commerce College, Allapalli You Can Search on Google  <a href="https://rdca.ac.in/#/" target="_blank">https://rdca.ac.in/#/</a></h4>
                <h4 style="margin-top: 20px; margin-bottom: 20px;"> 4) My Portfolio  <a href="https://aifaj2000.github.io/Aifaj-Portfolio/" target="_blank">https://aifaj2000.github.io/Aifaj-Portfolio/</a></h4>
                <h3 style="margin-top: 20px; margin-bottom: 20px; color: rgb(178 0 255);"> 5) E-commerce Website </h3> 
                    <p>
                    - Developed a robust e-commerce website with Spring Boot, 
                    Angular, and MySQL. <br>
                     - Integrated Razor pay as a payment gateway for seamless 
                    transactions.  <br>
                     - Implemented JWT Security for Admin and User roles. <br>
                     - Admin functionalities include product management, order 
                    processing, and delivery tracking.<br>
                     - Users can browse, add to cart, place orders, and track 
                    deliveries.
                    </p>
                <h3 style="margin-top: 20px; margin-bottom: 20px; color: rgb(178 0 255);"> 6) Online Exam Portal </h3>
                <p>
                    - Developed a robust Exam Portal with Spring Boot, 
                      Angular, and MySQL.<br>
                    - Designed a web-based examination system for educational 
                    institutions, reducing manual examination time.<br>
                    - Improved security and transparency with automated report 
                      generation.<br>
                    - Integrated Swagger for documentation.<br>
                   - Allowed students to review correct answers after exams.

                </p>


            </div>
        </div>
        <div class="col-md-7 text-center">
            <img src="assets/img/social-media.jpg" class="img-responsive" alt="">
            <video width="400px" controls autoplay>
                <source src="assets/video/ecw1.mp4" type="video/mp4">
            </video>

            <video width="400px" controls autoplay>
                <source src="assets/video/exp1.mp4" type="video/mp4">
            </video>

        </div>
    </div>
</div><!-- /.item -->



                <!-- Item 3 -->   
                <div id="item3" class="item tab-pane">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="service-info">
                                <h3 class="service-title">Mobile Application Development</h3>
                                <p>Developed multi-platform mobile apps using Ionic Framework.
                                    Developing APIs To Support Mobile Functionality 
                                    Implimantating  new Featurs On Existing App
                               Worked on all parts of the stack including Event Sourced Java/SpringBoot Microservices, hybrid mobile application using Javascript, Angular and lonic.

                              
                                    Evaluated JSON from the server and making Ajax requests using XHR object and handling JSON objects.
                                    
                                    </p>                                     
                            </div>
                        </div>
                        <div class="col-md-7">
                            <img src="assets/img/mobile-development.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div><!-- /.item -->
                <!-- Item 4 -->   
                <div id="item4" class="item tab-pane">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="service-info">
                                <h3 style="color: red;" class="service-title">MY Mobile Applications</h3>
                                 <h4 style="color: green;"> 1) Institute App </h4>
                                 <p>The school management system will manage all the work in any school in particular order so that the time requirement and complexity of the system will be reduced, at first it will focus on student related information. As a student gets the admission in the school system will start managing the details regarding the students. It will manage the fee details, and if the full payment has not done, then it will notify about the fee to a staff of the school. School Management System will then display the date of the test and when the test completes it will display the results of the students. While the parents can use it to monitor their children’s performance, also they can contact with the teachers.</p>
                                
                                 <h4 style="margin-top: 50px; color: green;"> 2) Universal Membership System (UMS)</h4>
                                 <p>UMS is a Fitnes app it can be used for a variety of different uses, including obtaining information about health and medical issues (e.g., WebMD), providing a list of exercises (e.g., Fitness Buddy), keeping track of nutritional and dietary information (e.g., Calorie Counter and Diet Tracker), keeping informed about topics related to fitness (e.g., Health and Fitness magazines), developing running skills (e.g., Couch to 5K), learning about diet and nutrition fundamentals (e.g., Fooducate), and obtaining information about performance and activities.</p>
                                 <h4 style="margin-top: 100px; color: green;"> 3) Chess Game Application</h4>
                                <p>Chess is one of the most popular board game around the world. Chess is theultimate game of planning.The project ‘DESIGNING OF CHESS GAME USING IONIC FRAMEWORK’
                                    implements a classic version of Chess with a Graphical User Interface (GUI). TheChess game follows the basic rules of chess, and all the chess pieces only moveaccording to valid moves for that piece. Our implementation of Chess is for two players. It is played on an 8x8 checked board, with a dark squarein each player's lower left corner.
                                     
                                    We successfully created a GUI using text-based version, inheritance and templates, asspecified. Despite several unusual bugs in the GUI, our Chess program is a great, user-friendly game for two players </p>
                                

                                 <h4  style="margin-top: 60px; color: green;"> 4) Vehicle Parking Management System (VPMS) </h4>
                                 <p>The Vehicle Parking Management System (VPMS) is a system that enables customers/drivers to reserve a parking space. It also allows the customers/drivers to view the parking status at for example Newroad area park. It was developed because the congestion and collision of the vehicle, the system was developed for public places such as malls , multiplex system , hospitals , offices , market areas. Therefore, the project aimed at solving such problems by designing a web based system that will enable the customers/drivers to make a reservation of available parking space at Newroad park</p>

                                   
                                </div>
                        </div>
                        <div class="col-md-7">
                            <img src="assets/img/institute.png" class="img-responsive" alt="">
                            <img src="assets/img/ums.png" class="img-responsive" alt="">
                            <img src="assets/img/chess.png" class="img-responsive" alt="">

                            
                            <img src="assets/img/parking.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div><!-- /.item -->
               
            </div><!-- /.carousel-inner -->
        </div><!-- /.carousel -->
    </div>
</section><!-- /.section-services -->
<!-- End Services section -->