
    <!-- Hello section -->
    <section class="site-section section-hello" id="intro">
        <div class="container">
          <h2>My All certificates </h2>
          <p class="section-subtitle"><span>i have complited MY ALL certificaTION COURCES FROM Naresh i Technologies hyderabad</span></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="main-service text-right">
                <div class="rectangle">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  <!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
                </div><!-- /.rectangle -->
                <h3>Core Java</h3>
                <p>In this course i have learn about Inheritance ,Polymorphism ,Abstraction ,Encapsulation , Multithreding , JVM , JRE , Class , Interface , Enum , Control Statements , Constructure , Methods , Variable , Object Class , Data Type, Modifires , Collection Framework , Exception Handling , Arrays , String , Io Streams , Java 8 Featurs like Lambda Expression , Stream API , Optional Class</p>
              </div><!-- /.main-service -->
                          <div class="main-service text-right">
                              <div class="rectangle">
                                <i class="fa fa-book" aria-hidden="true"></i>

                              </div>
                              <h3>Java EE & Java SE </h3>
                              <p>In this course i have learn about JDBC , Servlet , Servlet Listeners ,  Filters , JSP (Java Server Pages) ,  JSP Using Java Bean ,  JSPEL (Jsp Expression Language), JSTL (JSP Standard Tag Library) , MVC (Model View Controler) , Riflaction API (Application Programing Language) </p>
                          </div><!-- /.main-service -->
            </div>
            <div class="col-sm-4">
              <div class="big-rectangle">
                <img src="assets/img/AIFAJ-logo.png" alt="">
              </div><!-- /.big-rectangle -->
            </div>
            <div class="col-sm-4">
                          <div class="main-service text-left">
                              <div class="rectangle">
                                <i class="fa fa-book" aria-hidden="true"></i>

                              </div>
                              <h3>Spring Boot And Microservices </h3>
                              <p>In this course i have learn about 

                                Docker ,
                                Swagger,
                                Maven, 
                                
                                JPA,
                                
                                Security,
                              
                                Actuators,
                              
                                
                                Rest Template,
                                
                                Spring Batch,
                                
                                C3P0 Connection Pooling,
                                
                                Spring Cache Mechanism,
                                
                                ThymLeaf Examples,
                                
                                oAuth Implementation,
                                
                                JWT Implementation,
                                
                                Rabbit MQ/Apache Kafka,
                                
                                Spring Cloud Security,
                                
                                Eureka Registry & Netflix Ribbon,
                                
                                ZUUL Proxy and API Gateway,
                                
                                Hystrix Circuit Breaker,
                                
                                HTTPS, SSL and TLS,
                               
                                ELK Stack with Spring Boot</p>
                          </div><!-- /.main-service -->
              <div class="main-service text-left">
                <div class="rectangle">
                  <i class="fa fa-book" aria-hidden="true"></i>

                </div><!-- /.rectangle -->
                <h3>HTML | CSS | JavaScript</h3>
                <p>In this course i have learn about 
                  Master front-end development using HTML, CSS, & JavaScript
                  Lots of HTML Tags and attributes
                  Creating stunning, responsive layouts using CSS 
                  Adding Client-Side interactivity to Web Pages using JavaScript
                 </p>
              </div><!-- /.main-service -->
            </div>
          </div>
        </div>
      </section><!-- /.section-hello -->
          <!-- End Hello section -->
