

<!-- Skills section -->
<section class="site-section section-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 style="color: red;">Programming Languages</h2>
                <div class="progress-group">
                    <p>  &nbsp; &nbsp; <b>Java 8</b> &nbsp; &nbsp; <b>JavaScript</b> &nbsp; &nbsp; <b>SQL</b></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->    
                <div class="ee">
                <h2 style="color: red;">J2EE Technologies</h2>
                </div>
                <div class="progress-group">
                    <p>  &nbsp; &nbsp;  <b>Servlet </b> &nbsp; &nbsp; <b>JSP</b> &nbsp; &nbsp; <b>JPA Hibernate</b> &nbsp; &nbsp; <b>Spring</b> &nbsp; &nbsp; <b>SPRING BOOT </b></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->  

                <div class="ee">
                    <h2 style="color: red;">Databases</h2>
                    </div>
                    <div class="progress-group">
                        <p>  &nbsp; &nbsp; <b>Mysql </b> &nbsp; &nbsp; <b>Oracle</b>  </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.progress-group -->  

                    <div class="ee">
                        <h2 style="color: red;">Web & Application Server</h2>
                        </div>
                        <div class="progress-group">
                            <p> &nbsp; &nbsp; <b>Tomcat </b></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->  
                
               
            </div>
            <div class="col-sm-6">
                <h2 style="color: red;">ui Technologies</h2>
                <div class="progress-group">
                    <p>   &nbsp; &nbsp; <b>HTML</b> &nbsp; &nbsp; <b>css</b> &nbsp; &nbsp; <b>scss</b> &nbsp; &nbsp; <b>JavaScript</b>  &nbsp; &nbsp; <b>Bootstrap</b></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->


                <div class="ee">
                    <h2 style="color: red;">UI & Front End Frameworks</h2>
                    </div>
                <div class="progress-group">
                    <p>  &nbsp; &nbsp; <b>Angular  </b>&nbsp; &nbsp;  <b>Ionic </b></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->

                <div class="ee">
                    <h2 style="color: red;">ide</h2>
                    </div>
                <div class="progress-group">
                    <p>  &nbsp; &nbsp; <b>Eclipse </b> &nbsp; &nbsp; <b>VScode</b> &nbsp; &nbsp;</p>
                    
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="95">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->

                <div class="ee">
                    <h2 style="color: red;">other Tools</h2>
                    </div>
                <div class="progress-group">
                    <p>  &nbsp; &nbsp; <b>Spring Tool Suite </b> &nbsp; &nbsp; <b>Mysql Work bench </b> &nbsp; &nbsp; <b>Postman</b> &nbsp; &nbsp; <b>mavan </b>   &nbsp; &nbsp; <b>gradle </b>
                        &nbsp; &nbsp; <b>Git </b>
                        &nbsp; &nbsp; <b>MICROSERVICES ARCHITECTURE </b>
                        &nbsp; &nbsp; <b>SWAGGER </b>
                        &nbsp; &nbsp; <b>RAZORPAY </b>
                        &nbsp; &nbsp; <b>RABBITMQ </b>
                    
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-transitiongoal="100">
                        </div>
                    </div><!-- /.progress -->
                </div><!-- /.progress-group -->

                
            </div>
        </div>
    </div>
</section><!-- /.section-skills -->
<!-- End Skills section -->



